html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", serif;
  background-color: var(--cr-bg);
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}
