.btn {
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--cr-primary);
  color: var(--cr-primary-button-text);
}

.btn-transparent {
  padding: 11px 18px;
  background-color: transparent;
  border: 1px solid var(--cr-button-transparent-border);
}

.btn-transparent-borderless {
  background-color: transparent;
}
