:root {
  --light-bg: #ffffff;
  --light-a-href: #171717;
  --light-text-1: #262626;
  --light-text-2: #737373;
  --light-button-transparent-border: #e5e5e5;
  --light-primary: #8b5cf6;
  --light-card-border: #e5e5e5;
  --white: #ffffff;
  --black: #000000;

  --dark-bg: #171717;
  --dark-text-1: #fafafa;
  --dark-text-2: #a3a3a3;
  --dark-primary-button-text: #4c1d95;
  --dark-primary: #ddd6fe;
  --dark-hero-header: #f5f5f5;
  --dark-card-bg: #262626;
  --dark-button-transparent-border: #737373;

  --cr-bg: var(--light-bg);
  --cr-a-href: var(--light-a-href);
  --cr-primary: var(--light-primary);
  --cr-primary-button-text: var(--white);
  --cr-button-transparent-border: var(--light-button-transparent-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cr-bg: var(--dark-bg);
    --cr-primary: var(--dark-primary);
    --cr-a-href: var(--dark-text-1);
    --cr-primary-button-text: var(--dark-primary-button-text);
    --cr-button-transparent-border: var(--dark-button-transparent-border);
  }
}
