@use "../util/" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;

  .navlinks {
    display: none;
  }

  @include breakpoint(medium) {
    .navlinks {
      display: flex;
      align-items: center;
      column-gap: rem(20);
      list-style: none;

      .navlink {
        padding: rem(10);

        .navlink-a {
          font-size: rem(20);
          font-weight: 500;
        }
      }

      .active {
        color: red;
        border-bottom: 5px solid var(--cr-primary);
      }
    }

    .hamburger {
      display: none;
    }
  }
}
